*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.flexboxcontainer{
    width: 650px;
    border: 2px solid black;
    border-radius: 20px;
    margin: 15px auto;
    padding: 10px;
}

.containerbox{
    display:flex;
    padding: 10px;
}

.leftbox{
    margin-right: 10px;
}

img{
    width: 350px;
}

h2{
    font-size: 30px;
    border-bottom: 2px solid black;
    padding-bottom: 10px;

}

a{
    color: black;
    font-size: 20px;
    text-decoration: none;
}

.borderbox{
    border-bottom: 1px dashed black;
    text-align: left;
    padding-bottom: 25px;
}